extends ../index/layout

block content
  .container
    table#userAllTable.table-sm.table-striped.table-bordered.w-100
      thead
        th.user-all-th-name Name
        th.user-all-th-email Email
        th.user-all-th-company Company
        th.user-all-th-role Role
        th.user-all-th-last-login Last Login
        th.user-all-th-edit
      each user in users
        tr(id=user.email)
          td= `${user.firstName} ${user.lastName}`
          td= user.email
          td: a(href=`/company/${user.company._id}`) #{user.company.name}
          td= user.role
          if !user.lastLogin
            td
          else
            td= h.moment(user.lastLogin).format("dddd, MMMM Do YYYY [at] h:mmA")
          td.text-center
            a.edit-user-btn(data-toggle="modal" href="#editUserModal"
              data-user=user._id
              data-company=user.company._id
              data-status=user.status
              data-role=user.role
              data-firstname=user.firstName
              data-lastname=user.lastName
              data-email=user.email
              data-lastlogin=user.lastLogin)
              | Edit

  #createUserModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='createUserModal', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title New Users
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p.text-center Users are managed via GSuite.
          p.text-center Users must have a @dd9.com email to login.
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close

  #editUserModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editUserModal', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Edit User
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form#editUserForm.form(action=`/api/v1/user/:id/edit` method="POST" novalidate)
            .form-group.row
              label.col-sm-2.col-form-label(for='company') Company
              .col-sm-10
                select#company.form-control(name='company')
                  for company in companies
                    option(value=company._id) #{company.name}
            .form-group.row
              label.col-sm-2.col-form-label(for='status') Status
              .col-sm-10
                select#status.form-control(name='status')
                  option(value='active') Active
                  option(value='deactivated') Deactivated
            .form-group.row
              label.col-sm-2.col-form-label(for='role') Role
              .col-sm-10
                select#role.form-control(name='role')
                  option(value='client') Client
                  option(value='staff') Staff
                  option(value='admin') Admin
            .form-group.row
              label.col-sm-3.col-form-label(for='firstName') First name
              .col-sm-9
                input#firstName.form-control(name='firstName' type='text' required maxlength='25')
                .invalid-feedback Invalid form.
            .form-group.row
              label.col-sm-3.col-form-label(for='lastName') Last name
              .col-sm-9
                input#lastName.form-control(name='lastName' type='text' required maxlength='25')
                .invalid-feedback Invalid form.
            .form-group.row
              label.col-sm-2.col-form-label(for='email') Email
              .col-sm-10
                input#email.form-control(name='email' type='text' disabled)
            .form-group.row
              label.col-sm-2.col-form-label(for='password') Password
              .col-sm-10
                input#password.form-control(name='password' type='text' placeholder="password and email managed by GSuite" disabled)
                .invalid-feedback Invalid form.
            input#lastLogin.d-none(name='lastLogin' type='text' value=user.lastLogin)
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='submit' form='editUserForm') Submit