extends ../index/layout

block content
  .container
    table#userAllTable.table-sm.table-striped.table-bordered.w-100
      thead
        th Name
        th Email
        th Company
        th Last Login
        th Subscription
        th
      each user in users
        tr
          td= `${user.firstName} ${user.lastName}`
          td= user.email
          td: a(href=`/company/${user.company._id}`) #{user.company.name}
          td= user.lastSignInAt
          td= user.hourLogEmail
          td: a.delete(href=`/api/v1/user/${user._id}/edit`) Edit
