extends ../index/layout

include ../timeEntry/mixins/_createTimeEntry

block content
  .container.time-entry-new
    .my-5.py-1.px-3.bg-white.rounded.box-shadow
      .row
        .col.mt-2
          h4 New Time Entries
      table#createdTimeEntriesTable.table.table-sm.w-100
        thead.thead-light
          th Date
          th Company
          th Hours
          th Description
          th
        each timeEntry in timeEntries
          tr
            td= h.YYYYMMDD(timeEntry.date)
            td= timeEntry.company.name
            td.time-entry-table-hours= timeEntry.hours
            td= timeEntry.description
            if user.permissions[0].admin
              td
                form.time-entry-table-action-approve.form.d-inline(action=`/api/v1/timeEntry/${timeEntry._id}/approve` method="POST")
                  button.btn.btn-sm.btn-link(type='submit') Approve
                form.time-entry-table-action-hide.form.d-inline(action=`/api/v1/timeEntry/${timeEntry._id}/hide` method="POST")
                  button.btn.btn-sm.btn-link(type='submit') Hide
                form.time-entry-table-action-submit.form.d-inline(action=`/api/v1/timeEntry/${timeEntry._id}/submit` method="POST")
                  button.btn.btn-sm.btn-link(type='submit') Submit
                form.time-entry-table-action-delete.form.d-inline(action=`/api/v1/timeEntry/${timeEntry._id}/delete` method="POST")
                  button.btn.btn-sm.btn-link(type='submit') Delete
            else
              form.time-entry-table-action-submit.form.d-inline(action=`/api/v1/timeEntry/${timeEntry._id}/submit` method="POST")
                button.btn.btn-sm.btn-link(type='submit') Submit
              form.time-entry-table-action-delete.form.d-inline(action=`/api/v1/timeEntry/${timeEntry._id}/delete` method="POST")
                button.btn.btn-sm.btn-link(type='submit') Delete

        tr#lastRowInCreatedTimeEntriesTable
          td
          td
          td#totalCreatedHours= totalCreatedHours
          td
          td

    .py-1.px-3.bg-white.rounded.box-shadow.time-entry-new-time-entry-card
      .row
        .col.mt-3.mb-2
          h4 Add New Time Entry
      +createTimeEntry()