extends ../index/layout

include ../timeEntry/mixins/_createTimeEntry

block content
  .container.created-time-entry-container
    .my-5.py-1.px-3.bg-white.rounded.box-shadow
      .row
        .col.mt-2
          h4 New Time Entries
      table#createdTimeEntriesTable.created-time-entry-table.table.table-sm.w-100
        thead.thead-light
          th.created-time-entry-th-date Date
          th.created-time-entry-th-company Company
          th.created-time-entry-th-hours Hours
          th.created-time-entry-th-description Description
          th.created-time-entry-th-actions
        each timeEntry, rowNumber in timeEntries
          tr(id=`created-time-entries-table-row-${rowNumber}`)
            td= h.YYYYMMDD(timeEntry.date)
            td= timeEntry.company.name
            td= timeEntry.hours
            td= timeEntry.description
            if user.permissions[0].admin
              td
                form.created-time-entry-table-action-approve.form.d-inline(action=`/api/v1/timeEntry/${timeEntry._id}/approve` method="POST" data-hours=timeEntry.hours)
                  button.btn.btn-sm.btn-link(type='submit') Approve
                form.created-time-entry-table-action-hide.form.d-inline(action=`/api/v1/timeEntry/${timeEntry._id}/hide` method="POST" data-hours=timeEntry.hours)
                  button.btn.btn-sm.btn-link(type='submit') Hide
                button.submit-created-time-entry-btn.btn.btn-sm.btn-link(data-toggle='modal' data-target='#confirmSubmitCreatedTimeEntryModal' data-timeentry=timeEntry._id data-hours=timeEntry.hours) Submit
                button.delete-created-time-entry-btn.btn.btn-sm.btn-link(data-toggle='modal' data-target='#confirmDeleteCreatedTimeEntryModal' data-timeentry=timeEntry._id data-hours=timeEntry.hours) Delete
                button.edit-created-time-entry-btn.btn.btn-sm.btn-link(data-toggle='modal' data-target='#editCreatedTimeEntryModal'
                  data-rownumber=rowNumber
                  data-timeentry=timeEntry._id
                  data-date=timeEntry.date
                  data-company=timeEntry.company._id
                  data-hours=timeEntry.hours
                  data-description=timeEntry.description)
                  != h.icon('pencil')
            else
                button.submit-created-time-entry-btn.btn.btn-sm.btn-link(data-toggle='modal' data-target='#confirmSubmitCreatedTimeEntryModal' data-timeentry=timeEntry._id data-hours=timeEntry.hours) Submit
                button.delete-created-time-entry-btn.btn.btn-sm.btn-link(data-toggle='modal' data-target='#confirmDeleteCreatedTimeEntryModal' data-timeentry=timeEntry._id data-hours=timeEntry.hours) Delete
                button.edit-created-time-entry-btn.btn.btn-sm.btn-link(data-toggle='modal' data-target='#editCreatedTimeEntryModal'
                  data-rownumber=rowNumber
                  data-timeentry=timeEntry._id
                  data-date=timeEntry.date
                  data-company=timeEntry.company._id
                  data-hours=timeEntry.hours
                  data-description=timeEntry.description)
                  != h.icon('pencil')

        tr#totalCreatedTimeEntryHoursRow
          td
          td
          td#totalCreatedTimeEntryHours= totalCreatedTimeEntryHours
          td
          td

    .py-1.px-3.bg-white.rounded.box-shadow.time-entry-new-time-entry-card
      .row
        .col.mt-3.mb-2
          h4 Add New Time Entry
      +createTimeEntry()

  #confirmSubmitCreatedTimeEntryModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmSubmitCreatedTimeEntryModal', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Confirm Submit
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form#confirmSubmitCreatedTimeEntryForm.created-time-entry-table-action-submit.form(action=`/api/v1/timeEntry/:id/submit` method="POST")
            p.text-center Are you sure you want to submit this time entry?
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.confirm-created-time-entry-submit-btn.btn.btn-primary(type='submit' form='confirmSubmitCreatedTimeEntryForm') Ok

  #confirmDeleteCreatedTimeEntryModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmDeleteCreatedTimeEntryModal', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Confirm Delete
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form#confirmDeleteCreatedTimeEntryForm.created-time-entry-table-action-delete.form(action=`/api/v1/timeEntry/:id/delete` method="POST")
            p.text-center Are you sure you want to delete this time entry?
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.confirm-created-time-entry-delete-btn.btn.btn-primary(form='confirmDeleteCreatedTimeEntryForm') Ok

  #editCreatedTimeEntryModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editCreatedTimeEntryModal', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Edit Time Entry
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form#editCreatedTimeEntryForm.time-entry-form.form(action=`/api/v1/timeEntry/:id/edit` method="POST" novalidate)
            .form-group.row
              label.col-sm-2.col-form-label(for='date') Date
              .col-sm-10
                input#date.form-control(name='date' type='text' value=h.YYYYMMDD(new Date()) required maxlength="10")
            .form-group.row
              label.col-sm-2.col-form-label(for='company') Company
              .col-sm-10
                select#company.form-control(name='company')
                  for company in companies
                    option(value=company._id) #{company.name}
            .form-group.row
              label.col-sm-2.col-form-label(for='hours') Hours
              .col-sm-10
                input#hours.form-control(name='hours' type='tel' required maxlength="5")
                .invalid-feedback Invalid form.
            .form-group.row
              label.col-sm-3.col-form-label(for='description') Description
              .col-sm-9
                input#description.form-control(name='description' type='text' required maxlength="255")
                .invalid-feedback Invalid form.
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(form='editCreatedTimeEntryForm') Submit