extends ../index/layout

include ../timeEntry/mixins/_createTimeEntry

block content
  .container.time-entry-new
    .my-5.py-1.px-3.bg-white.rounded.box-shadow
      .row
        .col.mt-2
          h4 New Time Entries
      table#createdTimeEntriesTable.table.table-sm.w-100
        thead.thead-light
          th Date
          th Company
          th Hours
          th Description
          th
        each timeEntry in timeEntries
          tr
            td= h.YYYYMMDD(timeEntry.date)
            td= timeEntry.company.name
            td.time-entry-table-hours= timeEntry.hours
            td= timeEntry.description
            if user.permissions[0].admin
              td
                form.time-entry-table-action-approve.form.d-inline(action=`/api/v1/timeEntry/${timeEntry._id}/approve` method="POST")
                  button.btn.btn-sm.btn-link(type='submit') Approve
                form.time-entry-table-action-hide.form.d-inline(action=`/api/v1/timeEntry/${timeEntry._id}/hide` method="POST")
                  button.btn.btn-sm.btn-link(type='submit') Hide
                form.time-entry-table-action-submit.form.d-inline(action=`/api/v1/timeEntry/${timeEntry._id}/submit` method="POST")
                  button.btn.btn-sm.btn-link(type='submit') Submit
                button.delete-time-entry-btn.btn.btn-sm.btn-link(data-toggle='modal' data-target='#confirmDeleteTimeEntryModal' data-timeEntry=timeEntry._id) Delete
            else
                form.time-entry-table-action-submit.form.d-inline(action=`/api/v1/timeEntry/${timeEntry._id}/submit` method="POST")
                  button.btn.btn-sm.btn-link(type='submit') Submit
                button.delete-time-entry-btn.btn.btn-sm.btn-link(data-toggle='modal' data-target='#confirmDeleteTimeEntryModal' data-timeentry=timeEntry._id) Delete
            td
              button.btn.btn-sm.btn-link(data-toggle='modal' data-target='#editTimeEntryModal'
              data-date=timeEntry.date
              data-company=timeEntry.company._id
              data-hours=timeEntry.hours
              data-description=timeEntry.description)
              | Edit

        tr#lastRowInCreatedTimeEntriesTable
          td
          td
          td#totalCreatedHours= totalCreatedHours
          td
          td

    .py-1.px-3.bg-white.rounded.box-shadow.time-entry-new-time-entry-card
      .row
        .col.mt-3.mb-2
          h4 Add New Time Entry
      +createTimeEntry()

  #confirmDeleteTimeEntryModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmDeleteTimeEntryModal', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Confirm
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form#confirmDeleteTimeEntryForm.time-entry-table-action-delete.form(action=`/api/v1/timeEntry/:id/delete` method="POST")
            p.text-center Are you sure you want to delete this time entry?
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.confirm-ok-btn.btn.btn-primary(type='submit' form='confirmDeleteTimeEntryForm') Ok