extends ../index/layout

block content
  .container
    .row
      .col
        h2.user-table-title Users

    table#user_all.table-xl.table-striped.table-bordered.w-100
      thead
        td Name
        td Email
        td Company
        td Last Login
        td Subscription
      each hourLog in hourLogs
        tr
          td= "2018-06-03"
          td: a(href=`/company/${hourLog.company._id}`) #{hourLog.company.name}
          td: a(href=`/hourLog/${hourLog._id}`) #{hourLog.title}
          td hourLog.publicHours
          td hourLog.
