mixin editTimeEntryModal(hourLogOnePage)
  #editTimeEntryModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editTimeEntryModal', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Edit Time Entry
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form#editTimeEntryForm.time-entry-form.form(action=`/api/v1/timeEntry/:id/edit` method="POST" novalidate)
            .form-group.row
              label.col-sm-2.col-form-label(for='date') Date
              .col-sm-10
                input#date.form-control(name='date' type='text' value=h.YYYYMMDD(new Date()) required maxlength="10")
            if hourLogOnePage && user.permissions[0].admin === true
              .form-group.row
                label.col-sm-2.col-form-label(for='user') User
                .col-sm-10
                  select#user.form-control(name='user')
                    for user in users
                      option(value=user._id) #{`${user.firstName} ${user.lastName}`}
            .form-group.row
              label.col-sm-2.col-form-label(for='company') Company
              .col-sm-10
                select#company.form-control(name='company')
                  for company in companies
                    option(value=company._id) #{company.name}
            .form-group.row
              label.col-sm-2.col-form-label(for='hours') Hours
              .col-sm-10
                input#hours.form-control(name='hours' type='tel' required maxlength="5")
                .invalid-feedback Invalid form.
            .form-group.row
              label.col-sm-3.col-form-label(for='description') Description
              .col-sm-9
                input#description.form-control(name='description' type='text' required maxlength="255")
                .invalid-feedback Invalid form.
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(form='editTimeEntryForm') Submit