extends ../index/layout

block content
  .container
    .my-5.py-1.px-3.bg-white.rounded.box-shadow
      .row
        .col.mt-2
          h4 Open Hour Logs
      table#openHourLogAllTable.table-sm.table-bordered.table-striped.table-hover.w-100
        thead
          th.hour-log-all-th-date-opened Date Opened
          th.hour-log-all-th-date-closed Date Closed
          th.hour-log-all-th-company Company
          th.hour-log-all-th-title Title
          th.hour-log-all-th-total-public-hours Hours
          th.hour-log-all-th-total-hidden_hours Hidden
        tbody
          each hourLog in openHourLogs
            tr
              td= h.YYYYMMDD(hourLog.dateOpened)
              td
              td: a(href=`/company/${hourLog.company._id}`) #{hourLog.company.name}
              td: a(href=`/hourLog/${hourLog._id}`)
                if (hourLog.totalSubmittedHours > 0)
                  | <b>#{hourLog.title}*</b>
                else
                  | #{hourLog.title}
              td= hourLog.totalPublicHours
              td.hidden-hours-text-color= hourLog.totalHiddenHours

  .container
    .my-5.py-1.px-3.bg-white.rounded.box-shadow
      .row
        .col.mt-2
          h4 Closed Hour Logs
      table#closedHourLogAllTable.table-sm.table-bordered.table-striped.table-hover.w-100
        thead
          th.hour-log-all-th-date-opened Date Opened
          th.hour-log-all-th-date-closed Date Closed
          th.hour-log-all-th-company Company
          th.hour-log-all-th-title Title
          th.hour-log-all-th-total-public-hours Hours
          th.hour-log-all-th-total-hidden_hours Hidden
        tbody
          each hourLog in closedHourLogs
            tr
              td= h.YYYYMMDD(hourLog.dateOpened)
              td= h.YYYYMMDD(hourLog.dateClosed)
              td: a(href=`/company/${hourLog.company._id}`) #{hourLog.company.name}
              td: a(href=`/hourLog/${hourLog._id}`) #{hourLog.title}
              td= hourLog.totalPublicHours
              td.hidden-hours-text-color= hourLog.totalHiddenHours
